#sidebar {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    border: 1px dashed rgba(145, 158, 171, 0.24);

    &::-webkit-scrollbar {
        width: 5px;
        background: #b9b6b6;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    .main-logo {
        padding: 26px;
        margin-bottom: 20px;
        display: grid;
        place-items: center;
    }

    .main-logo img {
        width: 100%;
    }

    ul.sidebar-menu li {

        margin: 0px 10px;

        [id*='sidebar_item'] a {
            padding-left: 4pc;
        }

        a {
            padding: 9px 7px 9px 29px;
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 12px;
            font-weight: 400;
            color: black;
            position: relative;
            background: transparent;
            text-transform: uppercase;
            position: relative;
            border-radius: 8px;

            &+.collapse,
            &+.collapsing {
                background-color: #ffffff3b;
            }

            &.active {
                background-color: #ffe7d9;
                border-radius: 8px;
                color: #000;

                &:before {
                    content: '';
                    transition: all .5s;
                }
            }

            &.active p {
                color: #B72136 !important;
                font-weight: 700;
            }

            &:hover {
                background-color: #ffe7d9;
                color: black !important;
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 5px;
                // background: #D68594;
                transition: all .5s;
            }

            &:hover {
                &:before {
                    content: '';
                    transition: all .5s;

                }

            }

            p {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                font-family: 'Public Sans', sans-serif;
                color: #637381;
                font-size: 14px;
                font-weight: 600;

                i {
                    font-size: 11px;
                }
            }

            &>i {
                font-size: 17px;
            }
        }
    }
}



.sidebar-open {
    width: 16vw !important;
    transition: all ease-in-out 0.5s;
    border: 1px dashed rgba(145, 158, 171, 0.24);
}

.sidebar-closed {
    width: 5vw !important;
    transition: all ease-in-out 0.5s;
    border: 1px dashed rgba(145, 158, 171, 0.24);
}























































#sidebar {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    border: 1px dashed rgba(145, 158, 171, 0.24);

    &::-webkit-scrollbar {
        width: 5px;
        background: #b9b6b6;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    .main-logo-reverse {
        padding: 26px;
        margin-bottom: 10px;
        margin-top: 50px;
        transition: all ease-in-out 0.5s;
        transform: rotate(-90deg);
    }

    .main-logo-reverse img {
        width: 100px;
    }

    ul.sidebar-menu li {

        margin: 0px 23px 0px 10px;

        [id*='sidebar_item'] a {
            // padding-left: 32%;
        }

        [id*='sidebar_item'] a {
            padding-left: 35px !important;
        }

        a {
            padding: 9px 7px 9px 20px;
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 12px;
            font-weight: 400;
            color: black;
            position: relative;
            background: transparent;
            text-transform: uppercase;
            position: relative;
            border-radius: 8px;

            &+.collapse,
            &+.collapsing {
                background-color: #ffffff3b;
            }

            &.active {
                background-color: #ffe7d9;
                border-radius: 8px;
                color: #000;

                &:before {
                    content: '';
                    transition: all .5s;
                }
            }

            &.active p {
                color: #B72136 !important;
                font-weight: 700;
            }

            &:hover {
                background-color: #ffe7d9;
                color: black !important;
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 5px;
                // background: #D68594;
                transition: all .5s;
            }

            &:hover {
                &:before {
                    content: '';
                    transition: all .5s;

                }

            }

            p {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                font-family: 'Public Sans', sans-serif;
                color: #637381;
                font-size: 14px;
                font-weight: 600;

                i {
                    font-size: 11px;
                }
            }

            &>i {
                font-size: 17px;
            }
        }
    }
}




















































.userDetailContainer {

    table,
    tr,
    th,
    td {
        font-size: 14px;
    }


    .educationContainer {

        tr,
        td {
            width: 30%;
        }
    }
}



























.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .collaspe_icon i,
    .notification-bell i {
        font-size: 23px;
        cursor: pointer;
    }

    .user-profile {

        img {
            padding: 2px;
            background-color: #000;
            box-shadow: 4px 4px 15px #ccc;
            height: 45px;
            width: 45px;
        }

        &:hover {
            .user-profile-box {
                visibility: visible;
                opacity: 1;
                transition: all .5s;
            }
        }

        &-box {
            width: 200px;

            background-color: white;

            // &:before {
            //     content: '';
            //     position: absolute;
            //     border-width: 20px 20px 0 0;
            //     border-style: solid;
            //     top: -.65pc;
            //     right: 1.2pc;
            //     transform: rotate(45deg);
            // }

            ul {
                border-top: 1px solid #00000080;

                li {
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        gap: 7px;
                        margin-bottom: 15px;

                        &:hover {
                            color: #000;
                        }
                    }

                    .ion-share {
                        transform: scaleX(-1);
                    }

                    &:last-child {
                        a {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            p,
            li,
            i,
            a {
                color: #000 !important;
                text-align: right;
            }

            p:first-child {
                font-size: 12px;
                color: #ffffff80;
            }

            i {
                font-size: 20px;
            }

            p,
            li {
                font-size: 14px;
            }
        }
    }

    .notification {
        &-bell {
            i {
                &+span.MuiBadge-badge {
                    background: black;
                    color: #000;
                    animation: box-shadow 3.5s ease-out infinite;
                }
            }

            &:hover {
                .notification-box {
                    visibility: visible;
                    opacity: 1;
                    transition: all .5s;
                }
            }
        }

        &-box {
            &-content {
                height: 300px;
                display: flex;
                flex-direction: column;
                overflow: hidden scroll;
            }

            &-header {
                border-radius: 10px 10px 0 0;
            }
        }
    }

    .notification-box,
    .user-profile-box {
        border-radius: 10px;
        position: absolute;
        right: -2pc;
        z-index: 999;
        box-shadow: 0 0 10px #00000040;
        visibility: hidden;
        opacity: 0;
        transition: all .5s;
    }
}

.dashboard {
    &-filter {
        display: flex;
        gap: 20px;

        li .filtering {
            color: #000;
            padding: 5px 20px;
            background: #fff;
            border: 1px solid #000;
            border-radius: 30px;
            font-size: 12px;
            text-align: center;
            line-height: 20px;
            font-weight: 500;

            &.active {
                color: #fff;
                background: #000;
            }

            &:hover {
                color: #fff !important;
                background: #000;
                transition: all .5s;
            }
        }
    }

    &-pills {
        display: flex;
        gap: 20px;

        li .nav-link {
            color: #000;
            padding: 5px 20px;
            background: #fff;
            border: 1px solid #000;
            border-radius: 30px;
            font-size: 12px;
            text-align: center;
            line-height: 20px;
            font-weight: 500;

            &.active {
                color: #fff;
                background: #000;
            }

            &:hover {
                color: #fff !important;
                background: #000;
                transition: all .5s;
            }
        }
    }

    &-summary {
        margin-bottom: 1pc;
        // box-shadow: 0px 10px 15px #6b6b6b29;
        border: 1px solid transparent;
        background-color: #fff;
        box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
        border-radius: 16px;

        h5 {
            margin-bottom: 1pc;
        }

        &:hover {
            // background: url('../images/box-hover-bg.png') no-repeat center/cover;
            // box-shadow: 0px 10px 30px #716f7503;
            // border-color: #ccc;
            background-position: right center;
            transition: all 0.5s;
            // h5,
            // h4 {
            //     color: #fff !important;
            //     transition: all .5s;
            // }
        }
    }
}

.dragable-menu li {
    background-color: #f7f7f7;
    padding: 5px 1pc;
    margin-bottom: 1pc;
    cursor: move;
    border: 1px solid lightgray;
    font-size: 14px;
}

.customer-profile {
    &.bg-light {
        height: 225px;
    }

    img {
        height: 165px;
        width: 165px;
    }

    li {
        display: flex;
        gap: 18px;

        &>span {
            width: 175px;
            display: flex;
            justify-content: space-between;
        }
    }
}

.modal-body {
    .customer-profile {
        li {
            border-bottom: 1px solid #afafaf;
            padding-bottom: 1pc;
            margin-bottom: 1pc;

            &:last-child {
                border: 0;
                margin: 0;
                padding: 0;
            }
        }
    }

    .show-product {
        .product-main-image {
            text-align: center;

            img {
                height: 100%;
                width: 300px;
                object-fit: contain;
            }

            &+h5+ul {
                img {
                    height: 100px;
                    width: auto;
                    object-fit: contain;
                    border: 1px solid #cbc7c7;
                }
            }
        }

        .customer-profile li {
            padding-bottom: 8px;
            margin-bottom: 8px;
        }
    }
}

// update css admin panel------------------------------
.topbgcolor {
    background-color: #fff;
}

.breadcumarea {
    padding: 20px 0;

    h4 {
        font-weight: 700;
        margin-bottom: 0;
        font-size: 24px;
    }

    ul {
        display: flex;
        gap: 20px;

        li {
            position: relative;
            color: #212B36;

            &::after {
                content: '';
                position: absolute;
                top: 12px;
                left: -13px;
                height: 6px;
                width: 6px;
                border-radius: 20px;
                background: #919EAB;
                transition: all 0.5s;
            }

            &:first-child::after {
                content: none;
                display: none;
            }


        }

        li.active {
            color: #919EAB;
            font-size: 14px;
        }
    }
}

.borderbotm {
    border-bottom: 1px solid #DFE3E8;
}

.activeleadbtn {
    background-Color: #fff;
    font-Size: 16;
    color: #FF4842;
    border: 1px solid #FF4842;
    padding: 10px 15px;
    font-weight: 700;
    border-radius: 8px;
    width: 33%;
}

.noactiveclass {
    background-Color: white;

    font-Size: 16;
    color: rgba(145, 158, 171, 0.8);
    ;
    border: 1px solid rgba(145, 158, 171, 0.24);
    font-weight: 700;
    padding: 10px 15px;
    font-weight: 700;
    border-radius: 8px;
    width: 33%;
}

.activeleadbtn1 {
    background-Color: #fff;
    font-Size: 16;
    color: #FF4842;
    border: 1px solid #FF4842;
    padding-Left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    font-weight: 700;
    padding-bottom: 9px;

}

.noactiveclass1 {
    background-Color: white;

    font-Size: 16;
    color: rgba(145, 158, 171, 0.8);
    ;
    border: 1px solid rgba(145, 158, 171, 0.24);
    font-weight: 700;
    padding: 10px 15px;
    font-weight: 700;
    border-radius: 8px;
    width: 45%;
}

#sidebar ul.sidebar-menu li a.active i {
    color: #B72136 !important;
}

.tabletd_small tbody td {
    color: #000;
    font-size: 14px;
}

#sidebar ul.sidebar-menu li a+.collapse li {
    position: relative;

}

#sidebar ul.sidebar-menu li a+.collapse li a {
    color: #637381;
    font-size: 14px;
    font-weight: 600;
}

#sidebar ul.sidebar-menu li a+.collapse li a.active {
    background-color: transparent !important;
    color: #B72136;
}

#sidebar ul.sidebar-menu li a+.collapse li a:hover {
    background-color: transparent !important;
}

#sidebar ul.sidebar-menu li a+.collapse li a::after {
    content: "";
    position: absolute;
    left: 10px;
    width: 7px;
    height: 7px;
    background-color: #637381;
    border-radius: 15px;
    transition: all 0.5s;
}

#sidebar ul.sidebar-menu li a+.collapse li a.active::after {
    content: "";
    position: absolute;
    left: 10px;
    width: 7px;
    height: 7px;
    background-color: #637381;
    border-radius: 15px;
    transition: all 0.5s;
}

.cricle_arrow {
    border: 1px dotted #ccc;
    border-radius: 43px;
    font-size: 8px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
}

.cricle_arrow_left i,
.cricle_arrow i {
    font-size: 13px !important;
}

.cricle_arrow_left {
    border: 1px dotted #ccc;
    border-radius: 43px;
    font-size: 8px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
    transition: 0.5s ease;
    rotate: 180deg;
}